.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 50px;
  margin: 16px;
  padding: 10px;
  text-align: center;
}

.logo , h3{
  color: white;

  font-size: 1.5em;
}


.site-layout-background {
  background: #fff;
  padding: 0;
}

.loyout-sidbar {
  background-color: blue;
}

.body-content {
  margin: 24px 16px;
  padding: 24;
}

.main-content-layout {
  /*background: gray; */
  margin: 15px;
  height: 83vh;
  overflow-y: scroll;
}

.footer {
  text-align: center;
  background-color: #fff;
}



