.login-side-bg {
  background-color: black;
  height: 100vh;
}

.login-user-input {
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40%;
}

.login-user-input button {
  font-size: 15px;
  margin-top: 10px;
}
